.sitenav {

    background-color: #1a1111;
    min-height: 70px;
    align-items: center;


}

.image-container {

    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-container img {

    width: 100%;
}

.left-side-bar {

    border-right: 1px solid #999090;
    min-height: 100vh;
}

.right-feed {

    padding-left: 3rem !important;
}

.ic-bosluk {

    padding: 15px;
}

nav .nav-item {
    margin: 7px;
}

nav a.active {

    text-decoration: none;
    color: white;
}

nav a.active::before {

    content: "> ";
    color: red;

}


.user-avatar-container {

    width: 60%;
    margin: auto;
}

.user-avatar-container img {

    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.tweetModel {

    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 8px;

}